<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="{{url_for('static',filename='img/healthcare.png')}}" />
        <title>HEALTH FIRST-Hospitals and NGOs </title>
        <!-- Custom CSS -->
        <link href="{{url_for('static',filename='css/style.css')}}" rel="stylesheet">
        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    </head>
    <body>
        
        <nav class="navbar navbar-expand-lg navbar-btn">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#myNavbar">
                        <span class="navbar-toggler-icon"></span>
                        <span class="navbar-toggler-icon"></span>
                        <span class="navbar-toggler-icon"></span>                        
                    </button>
                    <a class="nav-link active" href="index.html"><strong>>> HEALTH FIRST</strong></a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav navbar-right">

                        <li><a href="centers.html"><span class="glyphicon glyphicon-plus"></span> Healthcare centers & NGOs</a></li>
                        <li><a href="help.html"><span class="glyphicon glyphicon-earphone"></span> Helplines</a></li>
                    </ul>
                </div>
            </div>
        </nav> 
        <div class="container" style=" background-color: mistyrose;"><br>
            <h1 style="color: rgb(175, 56, 56); font: 900 xx-large 'Courier New'">Healthcare Centres</h1>
            <div class="border1 col-xs-6 col-sm-6 col-md-4 mb-10"></div>
            <div class="border2 col-xs-6 col-sm-6 col-md-8 mb-10"></div><br>
            <h4 style="color: rgb(62, 92, 173)"><em>Select your region for more info.Click the name of the Healthcare center / Hospitals to visit their website.</em></h4>
            <br>
            <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button"  type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" >
                <h4 style="color: #0b95dc; ">Major Healthcare Centres in Mumbai</h4>
                </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <a href="https://www.clinicspots.com/hospital/nanavati-super-speciality-hospital"><h4 style="color: rgb(7, 7, 163)"><strong>1. Nanavati Super Speciality Hospital
                        S.V. Road, Opposite Pavan Hans & Juhu Beach
                        Vileparle West, Mumbai
                         </strong></h4></a>
                    <a href="https://www.clinicspots.com/hospital/s-l-raheja-fortis-hospital"><h4 style="color: rgb(7, 7, 163)"><strong>2. S L Raheja Fortis Hospital
                        Raheja Rugnalaya Marg., Opposite St. Xaviers College
                        Mahim, Mumbai
                         </strong></h4></a>
                    <a href="https://www.clinicspots.com/hospital/fortis-hospital"><h4 style="color: rgb(7, 7, 163)"><strong>3. Fortis Hospital
                        Mulund Goregaon Link Road, Industrial Area
                        Mulund West, Mumbai
                         </strong></h4></a>
                    <a href="https://www.clinicspots.com/hospital/jaslok-hospital"><h4 style="color: rgb(7, 7, 163)"><strong>4. Jaslok Hospital
                        15, Dr. G.Deshmukh Marg, Pedder Road, Near Mahalakshmi Temple
                        Peddar Road, Mumbai
                         </strong></h4></a>
                    <a href="https://www.clinicspots.com/hospital/saifee-hospital"><h4 style="color: rgb(7, 7, 163)"><strong>5. Saifee Hospital
                        No. 15/17, Maharshi Karve Road, Opposite Charni Road Railway Station, Mumbai, Maharashtra 400004, Opposite Charni Road Station
                        Charni Road, Mumbai
                        </strong></h4></a>
                    <a href="https://www.clinicspots.com/hospital/lilavati-hospital-and-research-centre"><h4 style="color: rgb(7, 7, 163)"><strong>6. Lilavati Hospital And Research Centre
                        A - 791, Bandra Reclamation, Opposite Mumbai Educational Trust
                        Bandra West, Mumbai
                        </strong></h4></a>
                    <a href="https://www.clinicspots.com/hospital/bombay-hospital-medical-research-centre"><h4 style="color: rgb(7, 7, 163)"><strong>7. Bombay Hospital & Medical Research Centre
                        12, Marine Lines, Next to Liberty Cinema
                        Marine Lines, Mumbai
                        </strong></h4></a>
                    <a href="https://www.clinicspots.com/hospital/breach-candy-hospital"><h4 style="color: rgb(7, 7, 163)"><strong>8. Breach Candy Hospital
                        # 60 A, Bhulabhai Desai Road, Breach Candy. Landmark: Next To Mahalakshmi Temple.
                        Breach Candy, Mumbai
                        </strong></h4></a>
                    <a href="https://www.clinicspots.com/hospital/hinduja-hospital"><h4 style="color: rgb(7, 7, 163)"><strong>9. Hinduja Hospital
                        8-12, SVS Rd, Veer Savarkar Marg, Mahim West, Near Bombay Scotish School
                        Mahim, Mumbai
                        </strong></h4></a>
                    <a href="https://www.clinicspots.com/hospital/kokilaben-dhirubhai-ambani-hospital"><h4 style="color: rgb(7, 7, 163)"><strong>10. Kokilaben Dhirubhai Ambani Hospital
                        Rao Saheb, Achutrao Patwardhan Marg, Four Bungalows, Lokhandwala Complex Road
                        Andheri West, Mumbai
                        </strong></h4></a>
                    <a href="https://mediniz.com/health-ngo-list-Mumbai/"><h4 style="color: rgb(7, 7, 163)"><strong>•	NGOs and Health Groups in Mumbai</strong></h4></a>    
                </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed"  type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                <h4 style="color: #0b95dc">Major Healthcare Centres in Pune</h4>
                </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body" >
                    <a href="https://sahyadrihospital.com/pune/deccan/"><h4 style="color: rgb(7, 7, 163)"><strong>1. Sahyadri Specialty Hospital, Pune</strong></h4></a> 
                    <a href="https://rubyhall.com/"><h4 style="color: rgb(7, 7, 163)"><strong>2. Ruby Hall Hospital, Pune</strong></h4></a> 
                    <a href="https://www.sanchetihospital.org/"><h4 style="color: rgb(7, 7, 163)"><strong>3. Sancheti Hospital, Pune</strong></h4></a> 
                    <a href="https://www.kem.edu/"><h4 style="color: rgb(7, 7, 163)"><strong>4. KEM Hospital, Pune</strong></h4></a> 
                    <a href="http://www.adityabirlahospital.com/"><h4 style="color: rgb(7, 7, 163)"><strong>5. Aditya Birla Memorial Hospital, Pune</strong></h4></a> 
                    <a href="http://www.dmhospital.org/"><h4 style="color: rgb(7, 7, 163)"><strong>6. Deenanath Mangeshkar Hospital, Pune</strong></h4></a> 
                    <a href="http://deccanhospital.in/"><h4 style="color: rgb(7, 7, 163)"><strong>7. Hardikar Hospital, Pune</strong></h4></a>
                    <a href="http://www.kotbagihospital.org/"><h4 style="color: rgb(7, 7, 163)"><strong>8. Kotbagi Hospital, Pune</strong></h4></a> 
                    <a href="https://mediniz.com/health-ngo-list-Pune/"><h4 style="color: rgb(7, 7, 163)"><strong>•	NGOs and Health Groups in Pune</strong></h4></a>
                </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed"  type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseTwo">
                <h4 style="color: #0b95dc">Major Healthcare Centres in Delhi</h4>
                </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="accordion-body" >
                    <a href="https://www.practo.com/delhi/"><h4 style="color: rgb(7, 7, 163)"><strong>1. Pristyn Care</strong></h4></a>
                    <a href="https://www.fortishealthcare.com/"><h4 style="color: rgb(7, 7, 163)"><strong>2. Fortis Escorts Heart Institute, Okhla Road</strong></h4></a>
                    <a href="https://delhi.apollohospitals.com/"><h4 style="color: rgb(7, 7, 163)"><strong>3. Indraprastha Apollo Hospital</strong></h4></a>
                    <a href="https://www.maxhealthcare.in/"><h4 style="color: rgb(7, 7, 163)"><strong>4. Max Superspecialty Hospital, Saket</strong></h4></a>
                    <a href="https://www.artemishospitals.com/"><h4 style="color: rgb(7, 7, 163)"><strong>5. Artemis Hospital, Gurgaon</strong></h4></a>
                    <a href="https://www.blkmaxhospital.com/"><h4 style="color: rgb(7, 7, 163)"><strong>6.	BLK Super Specialty Hospital</strong></h4></a>
                    <a href="https://internationalpatients.columbiaindiahospitals.com/hospitals/palam-vihar-gurgaon-india"><h4 style="color: rgb(7, 7, 163)"><strong>7. Columbia Asia, Palam Vihar, Gurugram</strong></h4></a>
                    <a href="https://www.fortishealthcare.com/india/hospitals-in-delhi-ncr/fortis-memorial-research-institute-gurugram/doctors"><h4 style="color: rgb(7, 7, 163)"><strong>8. Fortis Memorial Research Institute, Gurgaon</strong></h4></a>
                    <a href="https://www.maxhealthcare.in/hospital-network/max-super-speciality-hospital-patparganj"><h4 style="color: rgb(7, 7, 163)"><strong>9. Max Super Speciality Hospital, Patparganj</strong></h4></a>
                    <a href="https://www.maxhealthcare.in/hospital-network/max-super-speciality-hospital-vaishali"><h4 style="color: rgb(7, 7, 163)"><strong>10. Max Super Speciality Hospital, Vaishali</strong></h4></a>
                    <a href="https://mediniz.com/health-ngo-list-Delhi/"><h4 style="color: rgb(7, 7, 163)"><strong>•	NGOs and Health Groups in Delhi</strong></h4></a>
                </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingFour">
                <button class="accordion-button collapsed"  type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseTwo">
                <h4 style="color: #0b95dc">Major Healthcare Centres in Kolkata</h4>
                </button>
                </h2>
                <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                <div class="accordion-body" >
                    <a href="https://www.amrihospitals.in/"><h4 style="color: rgb(7, 7, 163)"><strong>1. AMRI (Advanced Medicare and Research Institute)</strong></h4></a>
                    <a href="https://cmri.ckbirlahospitals.com/"><h4 style="color: rgb(7, 7, 163)"><strong>2. CMRI (Calcutta Medical Research Institute) Hospital</strong></h4></a>
                    <a href="https://www.fortishealthcare.com/india/fortis-hospital-in-kidney-institute-kolkata-west-bengal"><h4 style="color: rgb(7, 7, 163)"><strong>3. Fortis Hospital and Kidney Institute, Kolkata</strong></h4></a>
                    <a href="https://kolkata.apollohospitals.com/"><h4 style="color: rgb(7, 7, 163)"><strong>4. Apollo Gleneagles Hospital, Kolkata</strong></h4></a>
                    <a href="https://mediniz.com/health-ngo-list-Kolkata/"><h4 style="color: rgb(7, 7, 163)"><strong>•	NGOs and Health Groups in Kolkata</strong></h4></a>
                </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingFive">
                <button class="accordion-button collapsed"  type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseTwo">
                <h4 style="color: #0b95dc">Major Healthcare Centres in Chennai</h4>
                </button>
                </h2>
                <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                <div class="accordion-body" >
                    <a href="https://vijayahospital.org/"><h4 style="color: rgb(7, 7, 163)"><strong>1. Vijaya Medical & Educational Trust, Chennai</strong></h4></a>
                    <a href="https://www.frontierlifeline.com/"><h4 style="color: rgb(7, 7, 163)"><strong></strong>2. Frontier Lifeline Hospital, Chennai </h4></a>
                    <a href="https://www.gleneaglesglobalhospitals.com/"><h4 style="color: rgb(7, 7, 163)"><strong></strong>3. Global Hospitals & Health City, Chennai</h4></a>
                    <a href="https://mehtahospital.com/v"><h4 style="color: rgb(7, 7, 163)"><strong></strong>4. Mehta Hospitals Pvt.Ltd., Chennai</h4></a>
                    <a href="https://www.sankaranethralaya.org/about-medical-research-foundation.html"><h4 style="color: rgb(7, 7, 163)"><strong>5. Medical Research Foundation – Sankara Nethralaya, Chennai</strong></h4></a>
                    <a href="https://www.sriramachandra.edu.in/medical/"><h4 style="color: rgb(7, 7, 163)"><strong>6. Sri Ramachandra Medical Centre, Chennai</strong></h4></a>
                    <a href="https://www.stisabelshospital.in/"><h4 style="color: rgb(7, 7, 163)"><strong>7. St. Isabel’s Hospital, Chennai</strong></h4></a>
                    <a href="https://www.billrothhospitals.com/"><h4 style="color: rgb(7, 7, 163)"><strong></strong>8. Billroth Hospitals Limited, Chennai</h4></a>
                    <a href="https://mediniz.com/health-ngo-list-Chennai/"><h4 style="color: rgb(7, 7, 163)"><strong>•	NGOs and Health Groups in Chennai</strong></h4></a>
                </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingSix">
                <button class="accordion-button collapsed"  type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseTwo">
                <h4 style="color: #0b95dc">Major Healthcare Centres in Gujarat</h4>
                </button>
                </h2>
                <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
                <div class="accordion-body" >
                    <a href="https://kdhospital.co.in/"><h4 style="color: rgb(7, 7, 163)"><strong>1. KD Hospital</strong></h4></a>
                    <a href="https://www.shalby.org/contact-us/sg-shalby-hospital/"><h4 style="color: rgb(7, 7, 163)"><strong>2. Shalby Hospital</strong></h4></a>
                    <a href="https://www.cims.org/"><h4 style="color: rgb(7, 7, 163)"><strong>3. CIMS Hospital in Ahmedabad</strong></h4></a>
                    <a href="https://zydushospitals.com/"><h4 style="color: rgb(7, 7, 163)"><strong>4. Zydus hospital</strong></h4></a>
                    <a href="https://mediniz.com/health-ngo-list-Gujarat/"><h4 style="color: rgb(7, 7, 163)"><strong>•	NGOs and Health Groups in Gujarat</strong></h4></a>
                </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingSeven">
                <button class="accordion-button collapsed"  type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseTwo">
                <h4 style="color: #0b95dc">Major Healthcare Centres in Indore</h4>
                </button>
                </h2>
                <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven" data-bs-parent="#accordionExample">
                <div class="accordion-body" >
                    <a href="https://www.chlhospitals.com/"><h4 style="color: rgb(7, 7, 163)"><strong>1. CHL Group of Hospitals</strong></h4></a>
                    <a href="https://www.credihealth.com/hospital/choithram-hospital-and-research-centre-indore/doctors"><h4 style="color: rgb(7, 7, 163)"><strong>2. Choithram Hospital and Research Center</strong></h4></a>
                    <a href="https://www.justdial.com/Indore/Arihant-Hospital-Research-Centre-Near-Scheme-No-71-Opposite-Shiv-Mandir-Gumasta-Nagar/0731P731STDG000250_BZDET"><h4 style="color: rgb(7, 7, 163)"><strong>3. Arihant Hospital and Research Center</strong></h4></a>
                    <a href="https://mediniz.com/health-ngo-list-Indore/"><h4 style="color: rgb(7, 7, 163)"><strong>•	NGOs and Health Groups in Indore</strong></h4></a>
                </div>
                </div>
            </div>
            </div><br></br>
            

            <h1 style="color: rgb(175, 56, 56); font: 900 xx-large 'Courier New'">NGOs which have revolutionised healthcare in India-</h1>
            <div class="border1 col-xs-6 col-sm-6 col-md-4 mb-10"></div>
            <div class="border2 col-xs-6 col-sm-6 col-md-8 mb-10"></div><br>
            <h4 style="color: rgb(62, 92, 173);"><em>Click the name of the NGOs to visit their website.</em></h4><br>
            <a href="https://www.doctorsforyoufoundation.org/"><h4 style="color: rgb(7, 7, 163)"><strong>1. Doctors for you</strong></h4></a>
            <a href="https://www.ruralhealthcarefoundation.com/"><h4 style="color: rgb(7, 7, 163)"><strong>2. Rural Health Care Foundation</strong></h4></a>
            <a href="https://www.swasth.org/"><h4 style="color: rgb(7, 7, 163)"><strong>3. Swasth Foundation</strong></h4></a>
            <a href="https://www.fmch-india.org/"><h4 style="color: rgb(7, 7, 163)"><strong>4.	Foundation for Mother and Child Health</strong></h4></a>
            <a href="https://www.cankidsindia.org/"><h4 style="color: rgb(7, 7, 163)"><strong>5. CanKids KidsCan</strong></h4></a>
            <a href="http://www.swasthyaswaraj.org/"><h4 style="color: rgb(7, 7, 163)"><strong>6. Swasthya Swaraj</strong></h4></a>
            <a href="https://fundraisers.giveindia.org/nonprofits/doctorsforseva-arogya-foundation-aarogya-seva"><h4 style="color: rgb(7, 7, 163)"><strong>7. DoctorsForSeva Arogya Foundation (Aarogya Seva)</strong></h4></a>
            <a href="https://fundraisers.giveindia.org/nonprofits/movement-for-alternatives-and-youth-awareness-maya"><h4 style="color: rgb(7, 7, 163)"><strong>8.	Movement for Alternatives and Youth Awareness (MAYA)</strong></h4></a>
            <a href="https://www.healthynewbornnetwork.org/partner/society-education-action-and-research-community-health-search/"><h4 style="color: rgb(7, 7, 163)"><strong>9. SEARCH (Society for Education, Action and Research in Community Health)</strong></h4></a>
            <a href="http://www.charutarhealth.org/"><h4 style="color: rgb(7, 7, 163)"><strong>10.	Charutar Arogya Mandal</strong></h4></a>
            <a href="https://www.helpageindia.org/"><h4 style="color: rgb(7, 7, 163)"><strong>11. HelpAge India</strong></h4></a>
            <a href="https://www.cry.org/"><h4 style="color: rgb(7, 7, 163)"><strong>12. CRY-Child Rights and You</strong></h4></a>
            <a href="https://leprasociety.in/"><h4 style="color: rgb(7, 7, 163)"><strong>13. Lepra Society</strong></h4></a>
            <a href="https://www.smilefoundationindia.org/"><h4 style="color: rgb(7, 7, 163)"><strong>14. Smile Foundation</strong></h4></a>
            <a href="https://www.ruralhealthcarefoundation.com/"><h4 style="color: rgb(7, 7, 163)"><strong>15.	Rural Healthcare Foundation</strong></h4></a>
            <a href="https://goonj.org/"><h4 style="color: rgb(7, 7, 163)"><strong>16.	Goonj</strong></h4></a>
            <a href="https://www.udaanwelfare.org/"><h4 style="color: rgb(7, 7, 163)"><strong>17. Udaan Welfare Foundation</strong></h4></a>
            <a href="https://www.deepalaya.org/"><h4 style="color: rgb(7, 7, 163)"><strong>18.	Deepalaya</strong></h4></a>
            <a href="https://www.udayfoundation.org/"><h4 style="color: rgb(7, 7, 163)"><strong>19. Uday Foundation</strong></h4></a>
            <a href="http://www.soundsofsilence.in/"><h4 style="color: rgb(7, 7, 163)"><strong>20.	Sounds of Silence</strong></h4></a>
            <a href="http://www.lifecarengo.com/"><h4 style="color: rgb(7, 7, 163)"><strong>21. Life Care Educational & Welfare Society</strong></h4></a>
            <a href="https://www.ihat.in/"><h4 style="color: rgb(7, 7, 163)"><strong>22. India Health Action Trust (IHAT)</strong></h4></a>
            <a href="https://vatsalya.org.in/"><h4 style="color: rgb(7, 7, 163)"><strong>23. Vatsalya NGO</strong></h4></a>
            <a href="https://nayasawera.org/"><h4 style="color: rgb(7, 7, 163)"><strong>24. Naya Sawera</strong></h4></a>
            <a href="https://vhai.org/"><h4 style="color: rgb(7, 7, 163)"><strong>25. Voluntary Health Association of India</strong></h4></a>
            <a href="https://www.divyajyotitrust.org/"><h4 style="color: rgb(7, 7, 163)"><strong>26. Divyajyoti Trust</strong></h4></a>
            <a href="https://www.shrc.org.in/"><h4 style="color: rgb(7, 7, 163)"><strong>27. Sanjivani Health & Relief Committee</strong></h4></a>
            <a href="https://www.sanchetana.org/"><h4 style="color: rgb(7, 7, 163)"><strong>28. Sanchetana Community Health and Research Centre</strong></h4></a>
            <a href="https://welfareunited.org/"><h4 style="color: rgb(7, 7, 163)"><strong>29.	Welfare United Association For Human And Nature</strong></h4></a>
            <a href="http://namaste-life.org/"><h4 style="color: rgb(7, 7, 163)"><strong>30. Namaste Life Health Care Foundation</strong></h4></a><br>
            <h4 style="color: rgb(62, 92, 173)"><em>Do check out the the following for regionwise NGO list.</em></h4><br>
            <a href="https://mediniz.com/health-ngo-list-Kolkata/"><h4 style="color: rgb(7, 7, 163)"><strong>•	NGOs and Health Groups in Kolkata</strong></h4></a>
            <a href="https://mediniz.com/health-ngo-list-Mumbai/"><h4 style="color: rgb(7, 7, 163)"><strong>•	NGOs and Health Groups in Mumbai</strong></h4></a>
            <a href="https://mediniz.com/health-ngo-list-Delhi/"><h4 style="color: rgb(7, 7, 163)"><strong>•	NGOs and Health Groups in Delhi</strong></h4></a>
            <a href="https://mediniz.com/health-ngo-list-Chennai/"><h4 style="color: rgb(7, 7, 163)"><strong>•	NGOs and Health Groups in Chennai</strong></h4></a>
            <a href="https://mediniz.com/health-ngo-list-Bengaluru/"><h4 style="color: rgb(7, 7, 163)"><strong>•	NGOs and Health Groups in Bengaluru</strong></h4></a>
            <a href="https://mediniz.com/health-ngo-list-Pune/"><h4 style="color: rgb(7, 7, 163)"><strong>•	NGOs and Health Groups in Pune</strong></h4></a>
            <a href="https://mediniz.com/health-ngo-list-Hyderabad/"><h4 style="color: rgb(7, 7, 163)"><strong>•	NGOs and Health Groups in Hyderabad</strong></h4></a>
            <a href="https://mediniz.com/health-ngo-list-Patna/"><h4 style="color: rgb(7, 7, 163)"><strong>•	NGOs and Health Groups in Patna</strong></h4></a>
        </div><br>
    </body>
</html>
        