<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{{url_for('static',filename='img/healthcare.png')}}" />
    <title>HEALTH FIRST-Helplines </title>
    <!-- Custom CSS -->
    <link href="{{url_for('static',filename='css/style.css')}}" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
    <body>
        
      <nav class="navbar navbar-btn">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>                        
                </button>
                <a class="navbar-brand" href="index.html"><strong>>> HEALTH FIRST</strong></a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">

                    <li><a href="centers.html"><span class="glyphicon glyphicon-plus"></span> Healthcare centers & NGOs</a></li>
                    <li><a href="help.html"><span class="glyphicon glyphicon-earphone"></span> Helplines</a></li>
                </ul>
            </div>
        </div>
    </nav>
    
        <div class="container" style=" background-color: mistyrose;"><br>
            <h1 style="color: rgb(175, 56, 56); font: 900 xx-large 'Courier New'">Ambulance Helpline in India</h1>
            <div class="border1 col-xs-6 col-sm-6 col-md-4 mb-10"></div>
            <div class="border2 col-xs-6 col-sm-6 col-md-8 mb-10"></div><br>
            <h4 style="color: rgb(62, 92, 173)"><em>Select you region for more info.Click the name of the Healthcare center / Hospitals to visit their website.</em></h4>
            <br>
            <table class="table table-hover table-striped">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Region</th>
                    <th scope="col">Contact</th>
                   
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>24 HOUR AMBULANCE AND HOSPITAL in INDIA</td>
                    <td><a href="tel:+102">102</a></td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>CENTRALIZED EMERGENCY NUMBER </td>
                    <td><a href="tel:+112">112</a></td>
                    
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td > GVK EMRI AMBULANCE </td>
                    <td><a href="tel:+108">108</a></td>
                  </tr>
                  
                  <tr>
                    <th scope="row" colspan="3">Private Ambulance - Individuals & Aggregators</th>
                              </tr>
                  <tr>
                    <th scope="row">1</th>
                    <td> DIAL4242 , Headoffice- Mumbai , operations PAN INDIA</td>
                    <td><a href="tel:+1800-266-4242">1800-266-4242</a></td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>GO AID </td>
                    <td><a href="tel:+8209596861">8209596861</a></td>
                    
                  </tr>
                 
                </tbody>
              </table>
              <h4 style="color: rgb(62, 92, 173)">*GVK EMRI is currently operational in 17 States and Union Territories i.e. Andhra Pradesh, Telangana, Gujarat, Goa, Tamil Nadu, Karnataka, Assam, Meghalaya, West Bengal, Himachal Pradesh, Chhattisgarh, Uttar Pradesh, Rajasthan, Kerala, Delhi  and Union Territories  Dadra & Nagar Haveli and Daman & Diu. </h4>